body {
  overflow: hidden;
  background-color: lightgoldenrodyellow;
  background-image:conic-gradient(from -90deg at bottom center, papayawhip, peachpuff);
  font-family: 'Hachi Maru Pop', cursive;
}

body h1 {
  text-align: center;
  font-size: 50px;
  /* font-family: 'Hachi Maru Pop', cursive; */
  color:#000000;
  margin: 15px;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

.youso {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.key {
  /* float: left; */
  width: 45%;
}

.rokuon {
  height: 50%;
  display: flex;
  align-items: center;
}

table.keybord {
  height: 100%;
}

.tenKey {
  font-size: 25pt;
  height: 80px;
  width: 100%;
  font-family: 'Hachi Maru Pop', cursive;

  border-radius: 1em;
  border: solid 2px lightblue;
  border-bottom: outset 13px lightblue;
  border-right: outset 5px lightblue;
  background:conic-gradient(from -90deg at 50% 105%, white, lightgoldenrodyellow);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px
}

input.example {
  font-size: 35pt;
}

/* テンキー */

input.tenKey:active {
  position: relative;
  top: 5px;
}

.bangou {
  font-size: 30px;
  width: 160px;
  font-family: 'Hachi Maru Pop', cursive;
}

td.td1{
  /* font-size:	50pt; */
  text-align:	center;
  height:		120;
  width:		30%;
} 

/* 切り替え */
.video_play_pause {
  display: inline-block;
  position: relative;
  width:1em;
  height: 1em;
  border: 0.03em solid currentColor;
  border-radius: 50%;
  color: #000;
  font-size: 200px;
  margin: 20px;
}

.video_play_pause > input {
  display: none;
}

.video_play_pause > input:not(:checked) + span::before {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border: 0.3em solid transparent;

  border-left: 0.5em solid currentColor;
  box-sizing: border-box;
  content: "";
}

.video_play_pause > input:checked + span::before,
.video_play_pause > input:checked + span::after {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0.3em;
  height: 0.5em;
  box-sizing: border-box;
  background-color: red;
  content: "";
}
.video_play_pause > input:checked + span::before {
  left: 40%;
}
.video_play_pause > input:checked + span::after {
  left: 60%;
}

.btn {
  height: 100px;
  font-size: 50px;
  border-color: silver;
  border-radius: 1em;
  color: white;
  font-family: 'Hachi Maru Pop', cursive;
  padding-bottom: 0.3em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-image:conic-gradient(from -135deg at -10% center, #ffa500, #ff7715, #ff522a, #ff3f47, #ff5482, #ff69b4);
}

input[type="text"] {
  border-radius: 1em;
  padding: 0.2em;
  font-family: 'Hachi Maru Pop', cursive;
  background-image:conic-gradient(at 0% 0%, snow, white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
audio {
  width: 350px;
}

.form {
  display:flex;
  flex-flow: column;
}

#num {
  font-family: 'Hachi Maru Pop', cursive;
}

#message {
  margin-top: 3rem;
  text-align: center;
  font-size: x-large;

  background-color: #FFF;
  width: 59%;
}

.arrow_box {
  position: relative;
  background: #fff;
  border: 4px solid #333;
  padding:2em 0.5em;
  border-radius:30px;
  /* margin:2em; */
}
.arrow_box:after, .arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 10px;
  /* margin-top: -10px; */
}
.arrow_box:before {
  border-color: rgba(51, 51, 51, 0);
  border-left-color: #333;
  border-width: 16px;
  margin-top: -5.5px;
}